<%= form_with(model: fish, local: true) do |form| %>
  <% if fish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

      <ul>
      <% fish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fish_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :fish_age %>
  </div>

  <div class="field">
    <%= form.label :family %>
    <%= form.text_field :family, id: :fish_family %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :idea_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
